* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    z-index: 10;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.card-header {
    font-family: Eksell Display Large;
    background: none !important;
    border: none !important;
    font-size: calc(1rem + 1vw);
    padding: 0 !important;
    margin: 0 !important;
}

.card-detail {
    font-family: Founders Grotesk Bold;
}

.card-description {
    font-family: Founders Grotesk Regular;
}

.card-description--tags a:visited,
.card-description--tags a:active,
.card-description--tags a:hover,
.card-description--tags a {
    font-family: Founders Grotesk Regular;
    color: silver;
    text-decoration: none;
}